# Ignore Python-related
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore saved models (optional)
*.keras

# Ignore env files
.env

# Ignore model outputs and artifacts
outputs/**/*.npy
outputs/**/*.csv
outputs/**/*.png

# Keep final equity curves for README
!outputs/**/oos_final/equity_curve_oos_enhanced.png

# Ignore temp dirs
six/
